
span.asteriskField {
    display: none;
}

a { 
    text-decoration: none;
    color: var(--bs-gray-700);
    font-weight: 600;
}

a:hover { 
    color: var(--bs-blue);
}

label.requiredField {
    font-weight: bold;
}

#main-content {
    width: 100%;
}

.alert div p {
    margin-bottom: 0;
}

.page-link svg {
    width: 16px;
}

a.nav-link svg {
    fill: white;
} 

footer svg {
    fill: white;
}

.sidebar {
    font-size: small;
}

svg {
    vertical-align: -.15em;
    pointer-events: none;
    width: 16px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.new-line {
    display: block;
    margin-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid gray;
}

table > tbody > tr:last-child > td {
    border-bottom-width: 0;
}

td p {
    margin: 0;
    padding: 0;
}