#navbar-side svg, #navbar-top svg, .btn-primary svg {
    fill: white;
}

#navbar-top .dropdown-menu svg {
    fill: black;
}

#navbar-top .dropdown-menu .active svg {
    fill: white;
}

#navbar-side .dropdown-menu svg {
    fill: black;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.breadcrumb-item a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#main-content {
    width: 100%;
}

.alert div p {
    margin-bottom: 0;
}

.page-link svg {
    width: 16px;
}

@media screen and (max-width: 767px) {
    #navbar-side {
        display: none;
    }
    #navbar-top {
        display: block;
    }

}

svg {
    vertical-align: -.15em;
    pointer-events: none;
    width: 16px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.new-line {
    display: block;
    margin-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid gray;
}

table > tbody > tr:last-child > td {
    border-bottom-width: 0;
}

@media screen and (min-width: 765px) {
    #navbar-top {
        display: none;
    }
    #navbar-side {
        display: block;
    }
}

td p {
    margin: 0;
    padding: 0;
  }