{% extends "base-two-column.html" %}
{% load static %}
{% block main %} 
<div class="row pt-5">
    <h2>Nope</h2>
    <p>Yeah, nope. Sorry, you aren't allowed.</p>
    {% if request.user.is_authenticated %}
        <p>To be able to access this site, you <b>must be a public member of the GitHub organisations</b> set up in the Catalog.</p>
    {% endif %}
    <p>Don't worry the AI cat hasn't got what it wanted either. I mean that picture is just a big nope anyway. The bird is flying without using its wings and the cat has two tails. So much nope.</p>
</div>
{% endblock %}

{% block sidebar %}
    <img src="{% static 'cats/nope.jpg' %}" alt="Nope cat" style="float: right">
{% endblock %}