{% extends "base.html" %}
{% block content %}
{% load octicons %}
{% load helpers %}
<h2>Rest API</h2>
<p>Each user with the Catalog can generate a Token for the API. For information on how to use the API, please see <a href="https://github.com/clearwind-ca/service-catalog/blob/main/docs/api.md">the documentation</a>.</p>
<p>An example of using the API with <code>curl</code> to view system logs:
<pre>
    curl {{ request.scheme }}://{{ request.get_host }}{% url "systemlogs:api-list" %} -H "Authentication: Token: YOUR_TOKEN_HERE"
</pre>
</p>
<hr>
{% if not token %}
    <form method="post" action="{% url 'web:api-create' %}">
        {% csrf_token %}
        <p class="mb-3">
            Create a token for use with the API.
        </p>
        <input type="hidden" name="action" value="create">
        <button type="submit" class="btn btn-primary">{% octicon 'plus' %} Create API Token</button>
    </form>
{% else %}
    <dl>
        <dt>Token created:</dt>
        <dd>{% include "since.html" with since=token.created %}</dd>
        <dt>Token:</dt>
        <dd><code>{{ token|truncatechars:4 }}**************</code></dd>
    </dl>
    <hr>
    <form method="post" action="{% url 'web:api-delete' %}">
        {% csrf_token %}
        <p class="mb-3">
            This will delete the token from the Service Catalog server. You can recreate a new token for use in the catalog if you'd like to.
        </p>
        <input type="hidden" name="action" value="delete">
        <button type="submit" class="btn btn-danger">Delete this API Token</button>
    </form>
{% endif %}
{% endblock %}