<!DOCTYPE html>
<html lang="en">
<head>
    {% load octicons %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'site.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'site.js' %}"></script>
    <title>Service Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg m-0 navbar-dark bg-black">
        <div class="container-lg my-3">
            <a class="navbar-brand fw-lighter" href="/">
                Service Catalog
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li>
                    <a class="nav-link" href="{% url 'services:service_list' %}">Services</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li>
                    <a class="nav-link" href="{% url 'services:source_list' %}">Sources</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li>
                    <a class="nav-link" href="">Health</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li>
                    <a class="nav-link" href="">Deployments</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav">
                    <li>
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% octicon "person" %} {{ user}}
                                </a>
                                <ul class="dropdown-menu">
                                    {% if user.is_superuser %}
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}"> Admin</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'web:logout' %}"> Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <form action="/oauth/github/login/" method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Login with GitHub <svg version="1.1" width="16" height="16" viewBox="0 0 16 16" class="octicon octicon-mark-github" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg></button>
                            </form>
                        {% endif %}
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <main class="bg-body">
        {% if breadcrumbs %}
        <div class="container-lg py-3 mt-3">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '&bull;';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{% octicon "home" %}</a></li>
                    {% block breadcrumbs %}
                    {% endblock %}
                </ol>
            </nav>
        </div>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">
                    <div class="container-lg">{{ message }}</div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="container-lg py-3 mb-3">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>