<!DOCTYPE html>
<html lang="en">
    <head>
        {% load octicons %}
        {% load static %}
        {% load helpers %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'site.css' %}">
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'site.js' %}"></script>
        <title>Service Catalog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'actions-logo-solid-64.png' %}" />
        {% block extrahead %}{% endblock %}
    </head>
    <body class="bg-dark">
        <div class="container-lg">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="/"><img src="/static/actions-logo-solid-64.png"></svg> Catalog</a>
                <button  class="navbar-toggler" data-bs-target="#navbarToggle" data-bs-toggle="collapse" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% include "nav.html" %}
                </ul>
                {% if hide_login %}
                    <!-- Login hidden -->
                {% else %}
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% octicon "person" %} 
                                {{ user|truncatechars:10 }}
                                </a>
                                {% include "user.html" %}
                            </li>
                        {% else %}
                            <form action="/oauth/github/login/" method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Login with GitHub <svg version="1.1" width="16" height="16" viewBox="0 0 16 16" class="octicon octicon-mark-github" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg></button>
                            </form>
                        {% endif %}
                    </ul>
                {% endif %}
              </div>
            </div>
          </nav>
        </div>
        <div class="bg-body-secondary">
            <div class="container-lg">
                <div class="pt-3 pb-1 mt-3">
                    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '&bull;';">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">{% octicon "home" %}</a></li>
                            {% block breadcrumbs %}
                            {% endblock %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bg-body pb-5">
            <div class="container-lg">
                {% if messages %}
                    <div class="pt-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} pt-3">
                                <div>{{ message.message|markdown }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="py-3 mb-3">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div class="container-lg py-5 text-light fw-lighter">
            {% if settings.public %}
                {% if member %}
                    <p><span class="badge bg-danger">Read only public access is enabled</span></p>
                {% else %}
                    <p><span class="badge bg-secondary">You are in read only mode</span></p>
                {% endif %}
            {% endif %}
            <p>An open source project by <a href="https://clearwind.ca">Clearwind</a> and <a href="https://github.com/clearwind-ca/service-catalog">contributors</a> on {% octicon "mark-github" %}</p>
          </div>
    </footer>
</html>