{% extends "base.html" %}
{% block content %}
<h2>Debug</h2>
<p>This page is intended to help with debug and setup of the service catalog instance. For more help, <a href="https://github.com/clearwind-ca/service-catalog/tree/main/docs">refer to the documentation</a>.</p>
<div>
    <h3>Environment Variables</h3>
    <p class="form-text text-muted">
        Some select environment variables. If the environment variable could be sensitive, then its truncated and only the first 2 characters are shown. If it's not set at all, it will show up as <code>Empty</code>.
    </p>
    <dl>
        {% for key, value in envs.items %}
        <dt>{{ key }}</dt>
        <dd><code>{{ value }}</code></dd>
        {% endfor %}
    </dl>
    <h3>Settings</h3>
    <p class="form-text text-muted">
        Some selected settings.
    </p>
    <dl>
        {% for key, value in settings.items %}
        <dt>{{ key }}</dt>
        <dd><code>{{ value }}</code></dd>
        {% endfor %}
    </dl>
</div>
{% endblock %}