{% load helpers %}
<li class="{{ li_class }}">
    <a class="{{ a_class }} {% at_url request 'services:service_list' %}" href="{% url 'services:service_list' %}">Services</a>
</li>
<li class="{{ li_class }}">
    <a class="{{ a_class }}" href="">Health</a>
</li>
<li class="{{ li_class }}">
    <a class="{{ a_class }}" href="">Deployments</a>
</li>
<li class="{{ li_class }}">
    <a class="{{ a_class }} {% at_url request 'services:source_list' %}" href="{% url 'services:source_list' %}">Sources</a>
</li>
<li class="{{ li_class }}">
    <a class="{{ a_class }} {% at_url request 'servicelogs:log_list' %}" href="{% url 'servicelogs:log_list' %}">Logs</a>
</li>