{% load helpers %}
{% load octicons %}
<li class="{{ li_class }}">
    <a class="{{ a_class }} {% at_url request 'services:service_list' %}" href="{% url 'services:service_list' %}">{% octicon "dashboard" class="bi me-2" %} Services</a>
</li>
<li class="{{ li_class }}">
    <a class="{{ a_class }}" href="">{% octicon "heart" %} Health</a>
</li>
<li class="{{ li_class }}">
    <a class="{{ a_class }}" href="">{% octicon "graph" %} Deployments</a>
</li>
<li class="new-line"></li>
<li class="{{ li_class }}">
    <a class="{{ a_class }} {% at_url request 'services:source_list' %}" href="{% url 'services:source_list' %}">{% octicon "signed" %} Sources</a>
</li>
<li class="{{ li_class }}">
    <a class="{{ a_class }} {% at_url request 'systemlogs:log_list' %}" href="{% url 'systemlogs:log_list' %}">{% octicon "scrum" %} Logs</a>
</li>
