{% load octicons %}
{% for dependency in items %}
    <div class="row mb-2">
        <div class="col-sm-2">
            {% include "priority.html" with priority=dependency.priority %}
            {% include "active.html" with active=dependency.active show_inactive_only=True %}
        </div>
        <div class="col-sm-10">
            {% if dependency.relation == "dependency" %}
                {% octicon "arrow-down" %} depends on
            {% else %}
                {% octicon "arrow-up" %} a dependency of
            {% endif %}
            <a href="{% url 'services:service-detail' dependency.slug %}">{{ dependency.name }}</a>
        </div>
    </div>
{% endfor %}