{% load helpers %}
    {% for entry in checks %}
        <div class="row mb-2">
            {% if entry.last %}
                <div class="col-2">{% include "pass.html" with result=entry.last %}</div>
            {% else %}
                <div class="col-2"><span class="badge text-bg-info">Not run</span></div>
            {% endif %}
            <div class="col-10"><a href="{% url "health:checks-detail" entry.check.slug %}">{{ entry.check.name }}</a></div>
        </div>
    {% endfor %}
</table>