{% load helpers %}
{% load octicons %}
    {% for entry in checks %}
        <div class="row mb-2">
            {% if entry.last %}
                <div class="col-sm-2">{% include "pass.html" with result=entry.last %}</div>
            {% else %}
                <div class="col-sm-2"><span class="badge text-bg-info">Not run</span></div>
            {% endif %}
            <div class="col-sm-10">
                <a href="{% url 'health:checks-detail' entry.check.slug %}">{{ entry.check.name }}</a>
                {% if entry.last.message %}
                    &bull; {% include "more-collapse.html" with entry=entry.last id=entry.check.pk %}
                {% endif %}
            </div>
            
        </div>
    {% endfor %}
    {% if not checks %}
        {% include "blankslate.html" with message="No health checks." %}
    {% endif %}
</table>