{% load helpers %}
<table class="table">
    {% for entry in checks %}
        <tr>
            <td>{{ entry.check.name }}</td>
            {% if entry.last %}
                <td>{% include "pass.html" with result=entry.last %}</td>
                <td>{% include "since.html" with since=entry.last.updated %}</td>
            {% else %}
                <td><span class="badge text-bg-info">Not run</span></td>
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>