{% extends "base-two-column.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'services:source-list' %}">{% octicon "dashboard" %}Sources</a></li>
    <li class="breadcrumb-item">Add organization</li>
{% endblock %}
{% load helpers %}
{% load crispy_forms_tags %}
{% block top %}
<h4>Add an organization</h4>
{% endblock %}

{% block main %}
<div class="card mt-3 mb-3">
    <form method="post" action="{% url 'services:org-add' %}" class="m-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form|crispy }}
        </div>
        <button type="submit" class="btn btn-outline-primary" {% if orgs %}disabled="disabled"{% endif %}>Add organization</button>
    </form>
</div>
{% endblock %}

{% block sidebar %}
<div class="pb-3">
    <h6 class="text-muted border-bottom">Info</h6>
    <p>An organization is a GitHub organization. Adding one will add in all the repositories in the organization as sources and enforce that the user has access to the organization.</p>
    </p>
</div>

{% endblock %}