{% extends "base-one-column.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">{% octicon "dashboard" %} Services</li>
{% endblock %}
{% load helpers %}
{% block content %}
<div>
    <div class="btn-group" role="group">
        {% include "filters-dropdown.html" with list=active all="all" key="active" %}
        {% include "filters-dropdown.html" with list=priorities all="all" key="priority" prefix="Priority " %}
    </div>

    {% include "filters-text.html" with reset="services:service-list" %}

    {% if page %}
        <table class="table table-hover my-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Health</th>
                    <th>Type</th>
                    <th>{% octicon "past" %} Updated</th>
                </tr>
            </thead>
            <tbody>    
                {% for service in page %}
                    <tr>
                        <td><a href="{% url 'services:service-detail' service.slug %}">{{ service.name }}</a></td>
                        <td>
                            {% include "priority.html" with priority=service.priority %}
                            {% include "active.html" with active=service.active show_inactive_only=True %}
                        </td>
                        <td>{% include "health-check-badge.html" with checks=service.latest_results %}</td>
                        <td>{{ service.type }}</td>
                        <td>{% include "since.html" with since=service.updated %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="blankslate my-3">
            {% include "blankslate.html" with message="No services matched those filters." %}
        </div>
    {% endif %}

    {% if services %}
        {% include "pagination.html" with objects=services %}
    {% endif %}
</div>
{% endblock %}