{% extends "base.html" %}
{% load helpers %}
{% load humanize %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'services:service-list' %}">{% octicon "dashboard" %} Services</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ service.name }}</li>
{% endblock %}
{% block content %}
<div>
    <h3>{{ service.name }}</h3>
    <p>
        {% include "priority.html" with priority=service.priority %}
        {% include "active.html" with active=service.active %}
        {% include "health-check-badge.html" with checks=checks %}
    </p>
    <p class="form-text mb-3">This data was pulled from <a href="{{ source.url }}">this source</a> and validated using <a href="{% url 'services:schema-detail' %}">this schema</a>. The slug is: <code>{{ service.slug }}</code>.</p>
    {% if service.description %}
        <p>{{ service.description|markdown }}</p>
    {% endif %}

    <div class="card mt-3 mb-3">
        <div class="card-header fw-bold">Dependencies</div>
        <div class="card-body">
            {% if related  %}
                {% include "dependencies.html" with items=related %}
            {% else %}
                {% include "blankslate.html" with message="No services define this service as a dependency and this service is not dependent upon another service." %}
            {% endif %}
        </div>
    </div>

    <div class="card mt-3 mb-3">
        <div class="card-header fw-bold">Metadata</div>
        <div class="card-body">
            {% if service.meta %}
                {% include "fields.html" with items=service.meta %}
            {% else %}
                {% include "blankslate.html" with message="No metadata has been defined for this service." %}
            {% endif %}
        </div>
    </div>

    <div class="card mt-3 mb-3">
        <div class="card-header fw-bold">Health checks</div>
        <div class="card-body">
            {% include "health-check.html" with check=check %}
        </div>
    </div>

    <div class="card mt-3 mb-3">
        <div class="card-header fw-bold">Logs</div>
        <div class="card-body">
            {% if logs %}
                <table class="table">
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.message|markdown }}</td>
                        <td><span class="badge bg-{{ log.level|log_level_as_colour }}">{{ log.level|log_level_as_text }}</span></td>
                        <td><span data-bs-toggle="tooltip" data-bs-title="{{ log.created }}">{{ log.created|naturaltime }}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                <p class="form-text">Limited to the last 3 logs. <a href="{% url 'logs:log-list' %}?slug={{ service.slug }}&target=service">View more in logs</a>.</p>
            {% else %}
                {% include "blankslate.html" with message="No logs found for this service." %}
            {% endif %}
        </div>
    </div>


    <div class="card">
        <div id="admin" class="card-header fw-bold">Admin</div>
        <div class="card-body">
            <div class="form-group row mb-3">
                <label for="refresh">Refresh this data from its source <a href="{% url 'services:source-detail' source.slug %}">{{ source.slug }}</a>.</label>
            </div>
            <div class="form-group row">
                <label class="mb-3" for="refresh">Delete this from the catalog. It <b>will not delete from GitHub</b> that must be done seperately.</label>
                    <form method="post" action="{% url 'services:service-delete' service.slug %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
            </div>
        </div>
    </div>


</div>
{% endblock %}