{% extends "base.html" %}
{% load helpers %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'services:service_list' %}">Services</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ service.name }}</li>
{% endblock %}
{% block content %}
<div>
    <h3>{{ service.name }}</h3>
    <p>
        {% include "level.html" with level=service.level %}
        {% include "active.html" with active=service.is_active %}
    </p>
    {% if service.description %}
        <p>{{ service.description|markdown }}</p>
    {% endif %}

    <div class="card mt-3 mb-3">
        <div class="card-header fw-bold">Dependencies</div>
        <div class="card-body">
            {% if service.dependencies.exists or service.service_set.exists  %}
                {% if service.dependencies.exists %}
                    {% include "dependencies.html" with items=service.dependencies.all type="Depends" %}
                {% endif %}
                {% if service.service_set.exists %}
                    {% include "dependencies.html" with items=service.service_set.all type="Dependent" %}
                {% endif %}
            {% else %}
                {% include "blankslate.html" with message="No services define this service as a dependency and this service is not dependent upon another service." %}
            {% endif %}
        </div>
    </div>

    <div class="card mt-3 mb-3">
        <div class="card-header fw-bold">Metadata</div>
        <div class="card-body">
            {% if service.meta %}
                {% include "fields.html" with items=service.meta %}
            {% else %}
                {% include "blankslate.html" with message="No metadata has been defined for this service." %}
            {% endif %}
        </div>
    </div>

    <hr>
    <p class="form-text mb-3">This data was pulled from <code>{{ source.name }}</code> and validated using <a href="{% url 'services:schema_detail' %}">this schema</a>.</p>

    <div class="card">
        <div id="admin" class="card-header fw-bold">Admin</div>
        <div class="card-body">
            <div class="form-group row mb-3">
                <label for="refresh" class="col-sm-5 col-form-label">Refresh this data from its source <code>{{ source.name }}</code>.</label>
                <div class="col-sm-3">
                    <form method="post" action="{% url 'services:source_refresh' source.slug %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Refresh" />
                    </form>
                </div>
            </div>
            <div class="form-group row">
                <label for="refresh" class="col-sm-5 col-form-label">Delete this from the catalog. It <b>will not delete from</b> <code>{{ source.name }}</code> that must be done manually.</label>
                <div class="col-sm-3">
                    <form method="post" action="{% url 'services:service_delete' service.slug %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}