{% extends "base.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">{% octicon "dashboard" %} Services</li>
{% endblock %}
{% load helpers %}
{% block content %}
<div>
    <div class="btn-group" role="group">
        <div class="btn-group " role="group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                {% octicon "filters" %} Activity
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item {% if request.GET.active %}active{% endif %}" href="{% qs request active='yes' %}">Active only</a>
                </li>
                <li>
                    <a class="dropdown-item {% if request.GET.active == False %}active{% endif %}" href="{% qs request active='no' %}">Inactive only</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% qs request active=None %}">All</a>
                </li>
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                Priority
            </button>
            <ul class="dropdown-menu">
                {% for priority in priorities %}
                <li>
                    <a class="dropdown-item {% if priority == request.GET.priority %}active{% endif %}" href="{% qs request priority=priority %}">Priority {{ priority }} only</a>
                </li>
                {% endfor %}
                <li>
                    <a class="dropdown-item" href="{% qs request priority=None %}">All</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-outline-secondary">
            <a class="dropdown-item" href="{% url 'services:service-list' %}">Reset</a>
        </button>
    </div>

    {% if filters %}
        <p class="form-text">Filtered by: {% for k, v in filters.items %}<code>{{ k }}: {{ v }}</code>{% if not forloop.last %} and {% endif %}{% endfor %}.</p>
    {% endif %}


    {% if services %}
        <table class="table table-striped my-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Type</th>
                    <th>{% octicon "past" %} Updated</th>
                </tr>
            </thead>
            <tbody>    
                {% for service in services %}
                    <tr>
                        <td><a href="{% url 'services:service-detail' service.slug %}">{{ service.name }}</a></td>
                        <td>
                            {% include "priority.html" with priority=service.priority %}
                            {% include "active.html" with active=service.active show_inactive_only=True %}
                        </td>
                        <td>{{ service.type }}</td>
                        <td>{% include "since.html" with since=service.updated %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="blankslate my-3">
            {% include "blankslate.html" with message="No services matched those filters." %}
        </div>
    {% endif %}

    {% if services %}
        {% include "pagination.html" with objects=services %}
    {% endif %}
</div>
{% endblock %}