{% extends "base-two-column.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'services:source-list' %}">{% octicon "dashboard" %}Sources</a></li>
    <li class="breadcrumb-item">Add service</li>
{% endblock %}
{% load helpers %}
{% load crispy_forms_tags %}
{% block top %}
<h2>Add a service</h2>
{% endblock %}

{% block main %}
<div class="card mt-3 mb-3">
    <form method="post" action="{% url 'services:source-add-service' source.slug %}" class="m-3">
        {% csrf_token %}
        <div class="mb-3">
            This will create a <b>pull request</b> with a pre-populated <code>catalog.json</code> file in the repository <a href="{{ source.url }}">{{ source.name }}</a>. If it looks good, it will need to be merged.
        </div>
        <button type="submit" class="btn btn-outline-primary">Add service</button>
    </form>
</div>
{% endblock %}

{% block sidebar %}
<div class="pb-3">
    <h5 class="text-muted border-bottom">Info</h5>
    <p>This will only create the pull request if <code>catalog.json</code> <b>does not</b> already exist in the repository.</p>
</div>

{% endblock %}