{% extends "base.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">Sources</li>
{% endblock %}
{% load helpers %}
{% block content %}
<div>
    <a class="btn btn-primary" href="{% url 'services:source_add' %}">{% octicon 'plus' %} Add in a new source</a>
    {% if sources %}
        <table class="table table-striped my-3">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>    
                {% for source in sources %}
                    <tr>
                        <td><code>{{ source.name }}</code></td>
                        <td>
                            <div class="dropdown">
                                <span class="dropdown-toggle" data-bs-toggle="dropdown">{% octicon "hamburger" %}</span>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'services:source_refresh' source.slug %}" class="dropdown-item">{% octicon "refresh" %} Refresh</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'services:source_validate' source.slug %}" class="dropdown-item">{% octicon "check" %} Validate</a>
                                    </li>
                                    <li>
                                        <form method="POST" action="{% url 'services:source_delete' source.slug %}" class="dropdown-item">
                                            {% csrf_token %}
                                            <input class="dropdown-item" type="submit" value="Delete">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="blankslate my-3">
            {% include "blankslate.html" with message="No services matched those filters." %}
        </div>
    {% endif %}

    {% if sources %}
        <div class="pagination">
            <span class="step-links">
                {% if sources.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ sources.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ sources.number }} of {{ sources.paginator.num_pages }}.
                </span>
        
                {% if sources.has_next %}
                    <a href="?page={{ sources.next_page_number }}">next</a>
                    <a href="?page={{ sources.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <hr>
    <p class="form-text">The data being pulled is validated using <a href="{% url 'services:schema_detail' %}">this schema.</p>
</div>
{% endblock %}