{% extends "base.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">Sources</li>
{% endblock %}
{% load helpers %}
{% block content %}
<div>
    {% if sources %}
        <table class="table table-striped my-3">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>    
                {% for source in sources %}
                    <tr>
                        <td>{{ source.name }}</td>
                        <td><a href="{% url 'services:source_refresh' source.slug %}" class="btn btn-primary">Refresh</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="blankslate my-3">
            {% include "blankslate.html" with msg="No services matched those filters." %}
        </div>
    {% endif %}

    {% if sources %}
        <div class="pagination">
            <span class="step-links">
                {% if sources.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ sources.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ sources.number }} of {{ sources.paginator.num_pages }}.
                </span>
        
                {% if sources.has_next %}
                    <a href="?page={{ sources.next_page_number }}">next</a>
                    <a href="?page={{ sources.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}