{% extends "base.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'services:source_list' %}">Sources</a></li>
    <li class="breadcrumb-item">Add</li>
{% endblock %}
{% load helpers %}
{% block content %}

<h4>Add a source</h4>
<p>A source is a GitHub repository containing a entry for the service catalog in one of the following file paths:
    {% for path in file_paths %}<code>{{ path }}</code>{% if not forloop.last %}, {% endif %}{% endfor %}. Once added
    it will be updated from the source regularly.
</p>
<form method="post" action="{% url 'services:source_add' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="source" class="form-label">Source</label>
        <input name="url" class="form-control" placeholder="location" value="{{ request.POST.url }}">
        <div class="form-text">The repository containing your catalog entry. For GitHub this is the URL to the repository</code>.</div>
    </div>
    <button type="submit" class="btn btn-primary">{% octicon 'plus' %} Add source</button>
</form>

{% endblock %}