{% extends "base-one-column.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">{% octicon "dashboard" %} Source of services</li>
{% endblock %}
{% load helpers %}
{% block content %}
<div>
    
    {% if page %}
        <table class="table table-hover my-3">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th>Services</th>
                    <th>{% octicon "past" %} Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>    
                {% for source in page %}
                    {% with count=source.services.count %}
                    <tr>
                        <td>
                            <a href="{% url 'services:source-detail' source.slug %}">{{ source.name }}</a>
                            {% include "active.html" with active=source.active show_inactive_only=True %}
                        </td>
                        <td>
                            {% if count < 1 %}
                                <a href="{% url 'services:source-add-service' source.slug %}" class="badge bg-primary text-light">Create an entry</a>
                            {% else %}
                                <span class="badge bg-secondary text-light">{{ count }} service{{ count|pluralize }}</span>
                            {% endif %}
                        </td>
                        <td>{% include "since.html" with since=source.updated %}</td>
                        <td>
                            <span class="dropdown-toggle" type="button"data-bs-toggle="dropdown" aria-expanded="false">
                                {% octicon "hamburger" %}
                             </span>
                             <ul class="dropdown-menu">
                                {% if count < 1 %}
                                  <li><a class="dropdown-item" href="{% url 'services:source-add-service' source.slug %}">{% octicon "plus" %} Create an entry</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ source.url }}">{% octicon "link-external" %} View on GitHub</a></li>
                              </ul>
                        </td>
                    </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="blankslate my-3">
            {% include "blankslate.html" with message="No sources matched those filters." %}
        </div>
    {% endif %}


    {% if page %}
        {% include "pagination.html" with objects=page %}
    {% endif %}

    {% if orgs %}
    <table class="table table-hover my-3">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Automatically add sources</th>
                <th>{% octicon "past" %} Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>    
            {% for org in orgs %}
                <tr>
                    <td>{{ org.name }}</a></td>
                    <td>{{ org.auto_add_sources|yesno }}</td>
                    <td>{% include "since.html" with since=org.updated %}</td>
                    <td>
                        <span class="dropdown-toggle" type="button"data-bs-toggle="dropdown" aria-expanded="false">
                            {% octicon "hamburger" %}
                         </span>
                         <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'services:org-detail' org.name %}">{% octicon "edit" %} Edit</a></li>
                            <li><a class="dropdown-item" href="{{ org.url }}">{% octicon "link-external" %} View on GitHub</a></li>
                         </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if perms.services.add_source %}
        <p><a href="{% url 'services:source-add' %}">{% octicon 'plus' %} Add in a new source</a></p>
    {% endif %}

    {% if perms.services.change_source %}
        <hr>
        <p>Organisations and sources are automatically pulled from GitHub at intervals. You can trigger these events manually if you'd like 👇</p>
        <form action="{% url 'services:org-refresh' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">Trigger GitHub refresh</button>
        </form>
    {% endif %}
    <hr>
    <p class="form-text">The data being pulled is validated using <a href="{% url 'services:schema-detail' %}">this schema.</p>
</div>
{% endblock %}