{% extends "base.html" %}
{% load helpers %}
{% load humanize %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'services:service_list' %}">{% octicon "verified" %} Sources</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ source.slug }}</li>
{% endblock %}
{% block content %}
<div>
    <h3>{{ source.slug }}</h3>
    <p class="form-text">This source is pulling data from <a href="{{ source.url }}">{{ source.url }}</a> and has a slug of <code>{{ source.slug }}</code>.</p>
    <div class="card mt-3 mb-3">
        <div class="card-header fw-bold">Services</div>
        <div class="card-body">
            {% if services %}
                <table class="table">
                    {% for service in services %}
                    <tr>
                        <td><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></td>
                        <td>{% include "priority.html" with priority=service.priority %}</td>
                        <td>{% include "active.html" with active=service.active %}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% include "blankslate.html" with message="No services found for this source." %}
            {% endif %}
        </div>
    </div>

    <div class="card mt-3 mb-3">
        <div class="card-header fw-bold">Logs</div>
        <div class="card-body">
            {% if logs %}
                <table class="table">
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.message|markdown }}</td>
                        <td><span class="badge bg-{{ log.level|log_level_as_colour }}">{{ log.level|log_level_as_text }}</span></td>
                        <td><span data-bs-toggle="tooltip" data-bs-title="{{ log.created }}">{{ log.created|naturaltime }}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                <p class="form-text">Limited to the last 3 logs. <a href="{% url 'systemlogs:log_list' %}?slug={{ source.slug }}&target=source">View more in logs</a>.</p>
            {% else %}
                {% include "blankslate.html" with message="No logs found for this source." %}
            {% endif %}
        </div>
    </div>

    <div class="card">
        <div id="admin" class="card-header fw-bold">Admin</div>
        <div class="card-body">
            <div class="form-group row mb-3">
                <label for="refresh">Refresh this data from its source <code>{{ source.url }}</code>.</label>
                <form method="post" class="mt-3" action="{% url 'services:source_refresh' source.slug %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Refresh" />
                </form>
            </div>
            
            <div class="form-group row mb-3">
                <label for="refresh">Validate this <code>{{ source.name }}</code> without updating.</label>
                <form method="post" class="mt-3" action="{% url 'services:source_validate' source.slug %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Validate" />
                </form>
            </div>

            <div class="form-group row">
                <label for="refresh" >Delete this from the catalog. It <b>will not delete from GitHub</b> that must be done manually.</label>
                <form method="post" class="mt-3" action="{% url 'services:source_delete' source.slug %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}