{% extends "base.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'services:source-list' %}">{% octicon "dashboard" %}Sources</a></li>
    <li class="breadcrumb-item">Add</li>
{% endblock %}
{% load helpers %}
{% block content %}

<h4>Add a source</h4>
<p>A source is a GitHub repository containing a entry for the service catalog in one of the following file paths:
    {% for path in file_paths %}<code>{{ path }}</code>{% if not forloop.last %}, {% endif %}{% endfor %}. Once added
    it will be updated from the source regularly.
</p>
<div class="card mt-3 mb-3">
    <form method="post" action="{% url 'services:source-add' %}" class="m-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="source" class="form-label">Source</label>
            <input name="url" class="form-control" placeholder="https://github.com/user/repository" value="{{ request.POST.url }}">
            <div class="form-text">The repository containing your catalog entry. For GitHub this is the URL to the repository</code>.</div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Add source</button>
    </form>
</div>

{% endblock %}