{% extends "base.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">{% octicon "scrum" %} Logs</li>
{% endblock %}
{% load helpers %}
{% load humanize %}
{% block content %}
<div>
    <div class="btn-group" role="group">
        <div class="btn-group " role="group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                {% octicon "filters" %} Action
            </button>
            <ul class="dropdown-menu">
                {% for action in actions %}
                <li>
                    <a class="dropdown-item {% if action == request.GET.action %}active{% endif %}" href="{% qs request action=action %}">{{ action|capfirst }}</a>
                </li>
                {% endfor %}
                <li>
                    <a class="dropdown-item" href="{% qs request active=None %}">All</a>
                </li>
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                Type
            </button>
            <ul class="dropdown-menu">
                {% for type in types %}
                <li>
                    <a class="dropdown-item {% if type == request.GET.item %}active{% endif %}" href="{% qs request type=type %}">{{ type|capfirst }}</a>
                </li>
                {% endfor %}
                <li>
                    <a class="dropdown-item" href="{% qs request priority=None %}">All</a>
                </li>
            </ul>
        </div>
    </div>
    
    
    {% include "filters-text.html" with reset="logs:log-list" %}

    {% if logs %}
        <table class="table table-striped my-3">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Type</th>
                    <th></th>
                    <th>{% octicon "past" %} Created</th>
                    <th>{% octicon "person" %} Who</th>
                </tr>
            </thead>
            <tbody>    
                {% for log in logs %}
                    <tr>
                        <td>{{ log.get_action_display|capfirst }}</td>
                        <td>{{ log.content_type.name|capfirst }}</td>
                        <td><a href="{% url 'logs:log-details' log.pk %}">{{ log.object_repr }}</a></td>
                        <td>{% include "since.html" with since=log.timestamp %}</td>
                        <td>{{ log.actor }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="blankslate my-3">
            {% include "blankslate.html" with message="No logs." %}
        </div>
    {% endif %}

    {% if logs %}
        {% include "pagination.html" with objects=logs %}
    {% endif %}
</div>
{% endblock %}