{% extends "base.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'health:checks-list' %}">Health checks</a></li>
    <li class="breadcrumb-item">Add</li>
{% endblock %}
{% load helpers %}
{% load crispy_forms_tags %}
{% block content %}

<h4>Add a health check</h4>
<p>Health checks are ways to check the overall health of a service that make sense to the organisation. They can be run on a regular basis or when needed. They call a {% octicon "mark-github" %} GitHub repository using GitHub Actions.
</p>
<p>The repository called is: <code>{{ repo }}</code>.</p>
<div class="card mt-3 mb-3">
<form method="post" action="{% url 'health:checks-add' %}" class="m-3">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">{% octicon 'plus' %} Add health check</button>
</form>
</div>

{% endblock %}