{% extends "base-two-column.html" %}
{% load helpers %}
{% load humanize %}
{% load octicons %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'health:checks-list' %}">{% octicon "dashboard" %} Health checks</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ check.slug }}</li>
{% endblock %}

{% block top %}
    <h2>{{ check.name }}</h2>
    <h4>
        {% include "active.html" with active=check.active %}
    </h4>
{% endblock %}

{% block main %}
    <div class="card mt-3 mb-3">
        <div class="card-body">
            <form method="post" action="{% url 'health:checks-update' check.slug %}" class="m-3">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-primary">Update health check</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="pb-3">
        <h6 class="text-muted border-bottom">Info</h6>
        <p>Slug: <code>{{ check.slug }}</code></p>
    </div>
{% endblock %}