{% extends "base.html" %}
{% load octicons %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">{% octicon "verified" %} Health checks</li>
{% endblock %}
{% block content %}
<div>
    <a class="btn btn-primary" href="{% url 'health:checks-add' %}">{% octicon 'plus' %} Add in a new health check</a>
    {% if checks %}
        <table class="table table-striped my-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Frequency</th>
                    <th>{% octicon "past" %} Updated</th>
                </tr>
            </thead>
            <tbody>    
                {% for check in checks %}
                    <tr>
                        <td><a href="{% url 'health:checks-detail' check.slug %}">{{ check.name }}</a></td>
                        <td><span class="badge text-bg-secondary">{{ check.get_frequency_display }}</span></td>
                        <td>{% include "since.html" with since=check.updated %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="blankslate my-3">
            {% include "blankslate.html" with message="No health checks matched those filters." %}
        </div>
    {% endif %}

    {% if checks %}
        {% include "pagination.html" with objects=healthchecks %}
    {% endif %}
</div>
{% endblock %}