{% extends "base-one-column.html" %}
{% load octicons %}
{% load helpers %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">{% octicon "check" %} Health checks</li>
{% endblock %}
{% block content %}
<div>
    <div class="btn-group" role="group">
        {% include "filters-dropdown.html" with list=active all="all" key="active" in_request=request.GET.key %}
        {% include "filters-dropdown.html" with list=frequency all="all" key="frequency" in_request=request.GET.key %}
    </div>

    {% include "filters-text.html" with reset="health:checks-list" %}

    {% if checks %}
        <table class="table table-hover my-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Frequency</th>
                    <th>{% octicon "past" %} Updated</th>
                    <th>More</th>
                </tr>
            </thead>
            <tbody>    
                {% for check in checks %}
                    <tr>
                        <td><a href="{% url 'health:checks-detail' check.slug %}">{{ check.name }}</a></td>
                        <td>{% include "active.html" with active=check.active %}</td>
                        <td><span class="badge text-bg-secondary">{{ check.get_frequency_display }}</span></td>
                        <td>{% include "since.html" with since=check.updated %}</td>
                        <td>
                            <span class="dropdown-toggle" type="button"data-bs-toggle="dropdown" aria-expanded="false">
                                {% octicon "hamburger" %}
                             </span>
                             <ul class="dropdown-menu">
                                 <li><a class="dropdown-item" href="{% url 'health:results-list' %}{% qs request check check.slug %}">Results</a></li>
                                 <li><a class="dropdown-item" href="{% url 'health:checks-update' check.slug %}">Edit</a></li>
                             </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="blankslate my-3">
            {% include "blankslate.html" with message="No health checks matched those filters." %}
        </div>
    {% endif %}

    {% if checks %}
        {% include "pagination.html" with objects=Checks %}
    {% endif %}

    <a href="{% url 'health:checks-add' %}">{% octicon 'plus' %} Add health check</a>
</div>
{% endblock %}