{% extends "base-two-column.html" %}
{% load helpers %}
{% load humanize %}
{% load octicons %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'health:checks-list' %}">{% octicon "check" %} Health checks</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ check.slug }}</li>
{% endblock %}

{% block top %}
    <h2>{{ check.name }}</h2>
    <h4>
        {% include "active.html" with active=check.active %}
    </h4>
{% endblock %}
    

{% block main %}
    <p>{{ check.description|markdown }}</p>
    <div class="card mt-3 mb-3">
        <div class="card-header fw-bold">Details</div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-sm-2"><b>Frequency</b></div>
                <div class="col-sm-10">{{ check.get_frequency_display }}
                    <div class="mt-3">
                        <a class="btn btn-outline-primary" href="#" data-bs-toggle="modal" data-bs-target="#run-modal">Run this check</a>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-2"><b>Limits</b></div>
                <div class="col-sm-10">{{ check.get_limit_display }}
                    {% if check.limit == 'all' %}
                        <p>This check will be run on <b>every</b> service.</p>
                    {% elif check.limit == 'some' %}
                        <p>This check will be run on <b>some</b> services.</p>
                    {% elif check.limit == 'none' %}
                        <p>This check will be run on <b>no</b> services. The payload will not contain any service information.</p>
                    {% endif %}
                </div>
            </div>
            {% if check.limit == 'some' %}
                <div class="row mb-2">
                    <div class="col-sm-2">Services</div>
                    <div class="col-sm-10">
                        <p>This check will be run on the following services:</p>
                        <ul>
                            {% for service in check.services.all %}
                                <li><a href="{% url 'services:service-detail' service.slug %}">{{ service.name }}</a></li>
                            {% empty %}
                                <li>No services selected.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="card mt-3 mb-3">
        <div class="card-header fw-bold">Latest</div>
        <div class="card-body">
            <div class="row mb-2">

            {% if results_data and check.limit == "none" %}
                <b>Last result</b>
                <p class="form-text">Because this check has no services, check the <a href="{% url 'health:results-list' %}{% qs request 'health_check__slug' check.slug %}">result list</a> to see the history of results.</p>
                <div class="my-3">
                    {% include "pass.html" with pass=result %}
                    {% include "since.html" with since=result.updated %}
                </div>
            {% endif %}
            
            {% if results_data and check.limit != "none" %}
                <b>Last results</b>
                <p class="form-text">This shows the status of the <i>last run</i> of each service. <a href="{% url 'health:results-list' %}{% qs request 'health_check__slug' check.slug %}">View full historical results</a>.</p>
                <table class="table my-3">
                    <thead>
                        <tr>
                            <th>Result</th>
                            <th>Number of services</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for result, count in results_data.items %}
                            <tr>
                                <td>{% include "pass.html" with pass=result %}</td>
                                <td>
                                    <div class="progress" role="progressbar">
                                        <div class="progress-bar progress-bar-striped" 
                                            style="width: {% widthratio count results_total 100 %}%"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="{{ result|capfirst }} for {{ count }} service{{ count|pluralize}} out of {{ results_total }}"
                                            ></div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="pb-3">
        <h5 class="text-muted border-bottom">Info</h5>
        <p>Slug: <code>{{ check.slug }}</code></p>
    </div>

    <div class="pb-3">
        <h5 class="text-muted border-bottom">Results</h5>
        {% if result %}
           <p>Last result: {% include "pass.html" with pass=result.result %} &bull; {% include "since.html" with since=result.updated %}</p>
           <p><a href="{% url 'health:results-list' %}{% qs request 'health_check__slug' check.slug %}">View more results</a></p>
        {% else %}
            <p>{% octicon "deny" %} No results to display.</p>
        {% endif %}
    </div>

    {% include "logs.html" with no_message="No logs found for this result."  pk=check.pk type="check"  %}

    {% if perms.health.change_check %}
        <div class="pb-3">
            <h5 class="text-muted border-bottom">Admin</h5>
            <p><a href="#" data-bs-toggle="modal" data-bs-target="#run-modal">Run this check now</a></p>
            <p><a href="{% url 'health:checks-add-action' check.slug %}">Add an Action</a></p>
            <p><a href="{% url 'health:checks-update' check.slug %}">Edit this check</a></p>
            <p><a href="#" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete this check</a></p>
        </div>
    {% endif %}
{% endblock %}

{% block modals %}
    <div class="modal fade" tabindex="-1" id="delete-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete this check</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>This will delete this check from the catalog. It <i>will delete all check results for this service</i> If you'd like to keep results, but not have the health check run, make this <a href="{% url 'health:checks-update' check.slug %}">check inactive</a> instead.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" action="{% url 'health:checks-delete' check.slug %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="run-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Run this check</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if check.active == False %}
                        <p><b>Note:</b> This check is currently inactive, so will not normally run.</p>
                    {% endif %}
                    {% if check.frequency != 'ad-hoc' %}
                        <p><b>Note:</b> This check is set to run <code>{{ check.frequency }}</code>.</p>
                    {% endif %}
                    {% if check.frequency != 'ad-hoc' or check.active == False %}
                        <p>You can run this check now if you'd like.</p>
                    {% else %}
                        <p>This will run this check now.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" action="{% url 'health:checks-run' check.slug %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Run" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}