{% extends "base-two-column.html" %}
{% load helpers %}
{% load humanize %}
{% load octicons %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'health:checks-list' %}">{% octicon "dashboard" %} Health checks</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ check.slug }}</li>
{% endblock %}

{% block top %}
    <h2>{{ check.name }}</h2>
    <h4>
        {% include "active.html" with active=check.active %}
    </h4>
{% endblock %}
    

{% block main %}
    <p>{{ check.description|markdown }}</p>
    <dl>
        <dt>Frequency</dt>
        <dd>{{ check.get_frequency_display }}
            {% if check.frequency == 'ad-hoc' %}
                <div class="mt-3">
                    <a class="btn btn-outline-primary" href="#" data-bs-toggle="modal" data-bs-target="#run-modal">Run this check</a>
                </div>
            {% endif %}
        </dd>
    </dl>
{% endblock %}

{% block sidebar %}
    <div class="pb-3">
        <h6 class="text-muted border-bottom">Info</h6>
        <p>Slug: <code>{{ check.slug }}</code></p>
    </div>

    <div class="pb-3">
        <h6 class="text-muted border-bottom">Results</h6>
        <p><a href="{% url 'health:results-list' %}{% qs request 'health_check__slug' check.slug %}">View results</a></p>
    </div>

    <div class="pb-3">
        <h6 class="text-muted border-bottom">Logs</h6>
        {% if log %}
            <p>{{ log.get_action_display|capfirst }} {% include "since.html" with since=log.timestamp %}</p>
            <p><a href="{% url 'logs:log-list' %}?slug={{ check.slug }}&type=check">View more</a></p>
        {% else %}
            <p>{% octicon "deny" %} No logs found for this service.</p>
        {% endif %}
    </div>

    {# if perms.health.change_checks #}
        <div class="pb-3">
            <h6 class="text-muted border-bottom">Admin</h6>
            <p><a href="#" data-bs-toggle="modal" data-bs-target="#run-modal">Run this check now</a></p>
            <p><a href="{% url 'health:checks-update' check.slug %}">Edit this check</a></p>
            <p><a href="#" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete this check</a></p>
        </div>
    {% endif %}
{% endblock %}

{% block modals %}
    <div class="modal " tabindex="-1" id="delete-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete this check</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>This will delete this check from the catalog. It <i>will delete all check results for this service</i> If you'd like to keep results, but not have the health check run, make this <a href="{% url 'health:checks-update' check.slug %}">check inactive</a> instead.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" action="{% url 'health:checks-delete' check.slug %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal " tabindex="-1" id="run-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Run this check</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>This will run this health check for all services.</p>
                    {% if check.frequency != 'ad-hoc' %}
                        <p>This check is set to run <code>{{ check.frequency }}</code>. You can still run it now if you'd like though.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" action="{% url 'health:checks-run' check.slug %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Run" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}